
/* хак для высоты, зависимой от ширины */

.container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border: 2px solid grey;
    padding: 2px;
}
.container:after {
    content: "";
    padding-top: 200%;
    display: block;
}          
.content {
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: 50%;
    left: 50%;
}

.grid {
    display: grid;
    row-gap: 1%;
    column-gap: 2%;

    width: calc(100% - 4px);
    position: absolute;
    height: calc(100% - 4px);

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.verdict {
    position: absolute;
    width: calc(100% + 4px);
    min-height: 15%;
    color: white;
    left: -2px;
    top: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.losed {
    background-color: red;
}
.wined {
    background-color: green;
}

.box {
    background-color: #BFBFBF;
}

.filled-box {
    background-color: grey;
}
