@font-face {
  font-family: PocC;
  src: url('static/pockc-webfont.woff2') format('woff2'),
      url('static/pockc-webfont.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BFBFBF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: PocC;
  font-size: x-large;
  box-sizing: border-box;
}
